.header__basket-min
section.section.section-one
	.container
		h1.main-title Книги Егора Яковлева
		h3.sub-title.product-desc__title
		.section__row.product-list
			.section__col.product
				.product__pic
					.flipper
						.front
							img.product__img.no-scale(src="static/images/general/placeholder.svg" data-src="static/images/content/krasniy_shtorm.jpg" alt="Красный шторм. Октябрьская революция глазами российских историков")
						.back
							iframe(width="300" height="170" src="https://www.youtube.com/embed/JTr98SHlaZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

				.product__descripton
					.product__name Красный шторм. Октябрьская революция глазами российских историков
					p.product-desc__text
						|Книга содержит ответы ведущих российских историков и специалистов по Октябрьской революции на особенно важные и интересные вопросы, связанные с этим периодом российской истории.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="11"
						data-sb-product-name="Красный шторм. Октябрьская революция глазами российских историков"
						data-sb-product-price="315"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/krasniy_shtorm.jpg"
					)
						i.fa.fa-cart-plus
						span.price 315
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					.flipper
						.front
							img.product__img(src="static/images/general/placeholder.svg" data-src="static/images/content/voyna_na_unichtojenie.jpg" alt="Война на уничтожение. Что готовил Третий Рейх для России")
						.back
							img.product__img(src="static/images/general/placeholder.svg" data-src="static/images/content/voyna_na_unichtojenie1.jpg" alt="Война на уничтожение. Что готовил Третий Рейх для России")
				.product__descripton
					.product__name Война на уничтожение. Что готовил Третий Рейх для России
					p.product-desc__text Попытка доказать, что фюрер готовил только разгром коммунизма, а народам России желал свободы и процветания, лукава и научно несостоятельна.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="12"
						data-sb-product-name="Война на уничтожение. Что готовил Третий Рейх для России"
						data-sb-product-price="402"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/voyna_na_unichtojenie.jpg"
					)
						i.fa.fa-cart-plus
						span.price 312
						| руб.
					.product__quantity(style="display:none;")
			
			.section__col.product
				.product__pic
					.flipper
						.front
							img.product__img(src="static/images/general/placeholder.svg" data-src="static/images/content/drug_gosudarstva.jpg" alt="Друг государства. Гении и бездарности, изменившие ход истории")
						.back
							img.product__img(src="static/images/general/placeholder.svg" data-src="static/images/content/drug_gosudarstva1.jpg" alt="Друг государства. Гении и бездарности, изменившие ход истории")
				.product__descripton
					.product__name Друг государства. Гении и бездарности, изменившие ход истории
					p.product-desc__text Генрих Шлиман, Жюль Верн, Фритьоф Нансен, Федор Плевако - их поступки меняли и продолжают менять орнамент исторического полотна, а биографии - вдохновлять.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="13"
						data-sb-product-name="Друг государства. Гении и бездарности, изменившие ход истории"
						data-sb-product-price="312"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/drug_gosudarstva.jpg"
					)
						i.fa.fa-cart-plus
						span.price 312
						| руб.
					.product__quantity(style="display:none;")
			
			.section__col.product
				.product__pic
					.flipper
						.front
							img.product__img.no-scale(src="static/images/general/placeholder.svg" data-src="static/images/content/sovremenniy_fashizm.jpg" alt="Современный фашизм")
						.back
							img.product__img.no-scale(src="static/images/general/placeholder.svg" data-src="static/images/content/sovremenniy_fashizm1.jpg" alt="Современный фашизм")
				.product__descripton
					.product__name Современный фашизм
					p.product-desc__text "Фашизм - это открытая террористическая диктатура наиболее реакционных, наиболее шовинистических элементов финансового капитала". Георгий Димитров.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="14"
						data-sb-product-name="Современный фашизм"
						data-sb-product-price="196"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/sovremenniy_fashizm.jpg"
					)
						i.fa.fa-cart-plus
						span.price 196
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					.flipper
						.front
							img.product__img.no-scale(src="static/images/general/placeholder.svg" data-src="static/images/content/nachizm.jpg" alt="Нацизм")
						.back
							img.product__img.no-scale(src="static/images/general/placeholder.svg" data-src="static/images/content/nachizm1.jpg" alt="Нацизм")
				.product__descripton
					.product__name Нацизм
					p.product-desc__text Великая Отечественная война была для русского народа, для народов, входивших в состав Советского Союза, войной на выживание. 9 мая - день Спасения, день Освобождения.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="15"
						data-sb-product-name="Нацизм"
						data-sb-product-price="196"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/nachizm.jpg"
					)
						i.fa.fa-cart-plus
						span.price 196
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					.flipper
						.front
							img.product__img.no-scale(src="static/images/general/placeholder.svg" data-src="static/images/content/komunizm.jpg" alt="Коммунизм")
						.back
							img.product__img.no-scale(src="static/images/general/placeholder.svg" data-src="static/images/content/komunizm1.jpg" alt="Коммунизм")
				.product__descripton
					.product__name Коммунизм
					p.product-desc__text Эта книга поможет разобраться в одном из самых противоречивых политических явлений прошлого века, в его истории, теории и идеологии.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="16"
						data-sb-product-name="Коммунизм"
						data-sb-product-price="196"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/komunizm.jpg"
					)
						i.fa.fa-cart-plus
						span.price 196
						| руб.
					.product__quantity(style="display:none;")

.smart-basket__wrapper
